@charset "utf-8";

.main {
	width: 400px;
	overflow: hidden;
	box-sizing: border-box;
	position: relative;
	margin: auto;
}
.wrap {
	width: 400px;
	height: 75vh;
	display: flex;
	margin: 10px auto;
}
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 400px;
	height: 100%;
	z-index: 3;
	background-color: rgba(0, 0, 0, 0.3);
}
.aside {
	position: absolute;
	right: -150px;
	box-sizing: border-box;
	
	border: 2px solid black;
	
	width: 150px;
	height: 100%;
	background-color: white;
	display: flex;
	flex-flow: column;
	align-items: center;
}
#hamburger {
	background-color: white;
	box-shadow: 1px 1px darkgrey;
	width: 25px;
	height: 25px;
	border-radius: 25px;
	position: absolute;
	left: -45px;
	top: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	font-size: 24px;
	line-height: 24px;
	text-align: center;
	font-weight: bold;
}
.right {
	user-select: none;
	box-sizing: border-box;
	width: 150px;
	height: 75vh;
	margin-left: 2px;
	
	transition-duration: 0.4s;
	position: relative;
	right: 0px;
	top: 0px;
	z-index: 5;
	display: flex;
}
.userList {
	width: 100px;
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	align-items: center;
	padding: 0;
	background-color: white;
}
.peopleName {
	width: 100%;
	margin: 10px;
	margin-top: 0;
	padding: 10px;
	text-align: center;
	font-size: 18px;
	border: 2px solid black;
	box-sizing: border-box;
	line-height: 18px;
	cursor: pointer;
}
.peopleName:nth-child(2n) {
	background-color: #ffc;
}
.peopleName:nth-child(2n + 1) {
	background-color: white;
}
.textarea {
	box-sizing: border-box;
	width: 400px;
	height: 75vh;
	padding: 10px;
	border: 2px solid black;
	overflow-y: auto;
	overflow-x: hidden;
	background-color: #d5e4ff;
	position: relative;
	margin-bottom: 10px;
}

.bottom {
	display: flex;
	justify-content: center;	
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	z-index: 10;	
	align-items: center;
}

a {
	text-decoration: none;
	color: inherit;
}

.send {
	width: 85%;
	padding: 5px;
	box-sizing: border-box;
	border: none;
	border-radius: 10px;
    background-color: #000;
	color: white;	
}

.btn {
	visibility: hidden;
	border: none;
	background-color: #000;
	color: #0095F6;
	font-size: 14px;
	font-weight: 600;
	cursor: pointer;
}
.btn:hover {
	color: white;
}

.self, .other, .alarm {
	padding: 5px;
	font-size: 14px;
	display: flex;
	flex-flow: column;
}

.self {
	justify-content: flex-end;
	align-items: flex-end;
	margin: auto;
	margin-right: 0;
}

.other {
	flex-flow: wrap-reverse;
	justify-content: flex-start;
	align-items: flex-start;
}

.alarm {
	flex-flow: row;
	justify-content: center;
}
.alarm > .name {
	display: none;	
}
.alarm > .message {
	border: 0;
	box-shadow: none;	
	justify-content: center;
	font-weight: bold;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.1);
}

.name {
	font-weight: bold;
}

.message {
	border-radius: 22px;
	padding: 10px;
	margin-top: 5px;	
	cursor: pointer;
	color: white;
}

.self>.message {
	background-color: #262626;
}

.other>.message {
	background-color: #000;
	border: 1px solid rgb(54,54,54);
}