@charset "utf-8";

/*사이드바 start*/
* {margin:0; padding:0; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; word-break: keep-all;color: #fff;}
html,body{max-width: 100%; min-height: 100%;}
html{overflow-x: hidden; -webkit-text-size-adjust: none;background-color: #000;}
body{-webkit-print-color-adjust:exact; background: #000; font-family: 'Jost', 'Noto Sans KR', sans-serif; font-style: normal; font-size: 16px; font-weight: 300; color: #333; line-height: 1.5; letter-spacing: -0.5px;}
ul, li, dl,dt,dd {margin:0;padding:0;list-style:none}
a{color:#333;text-decoration:none;}
img {border: 0; font-size: 0; max-width: 100%;}
h1, h2, h3, h4, h5, h6{font-size:1em;font-family: 'Jost', 'Noto Sans KR', sans-serif;}
textarea, select{font-family: 'Jost', 'Noto Sans KR', sans-serif;font-size:1em}
input, button{margin:0;padding:0;font-family: 'Jost', 'Noto Sans KR', sans-serif;font-size:1em}
input[type="submit"], button{cursor:pointer}
table, tr, td { border-collapse: collapse;}
p{word-break: keep-all;}
input{border-radius: 0;}
button{color: black;}
  
body {
    margin: 0;
    font-family: BlinkMacSystemFont;
    position: relative;
} 
  
.all_wrap{
    display: flex;
    justify-content: center;
    background-color: #000;
    margin-left: 100px;
    margin-bottom: 110px;
}

.main_wrap{
  width: 100%;
  display: flex;
  justify-content: center;
  color:white;
  padding: 30px 0 30px 0;  
} 

  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 250px;
    height: 100%;
    padding: 40px 10px 30px 10px;
    background: #000;
    border-right: 1px solid rgb(38,38,38);
    transition: 0.3s;
    z-index: 3;
  }
  
  .sidebar-header {
    width: 100%;
    margin-bottom: 6px;
  }
  
  .logo-icon {
    display: none;
    font-size: 28px;
    height: 35px;
    width: 51px;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .logo-img {
    margin-bottom: 20px;
    margin-left: 14px;
    height: 47px;
  }
  
  .sidebar button {
    height: 60px;
    background: transparent;
    border: 0;
    padding: 0;
    font-family: inherit;
    cursor: pointer;
  }
  
  .sidebar button > span {
    display: flex;
    align-items: center;
    gap: 12px;
    height: 48px;
    padding: 0 12px;
    border-radius: 24px;
    line-height: 1;
  }
  
  .sidebar button:hover > span {
    background: #0f0f0f;
  }
  
  .sidebar button:hover > span :is(i, img) {
    scale: 1.05;
  }
  
  .sidebar button > span > span {
    transition: 0.3s;
  }
  
  @media (width <760px){
  	.sidebar{
  		display: none;
  	}
  }
  
  @media (width < 1280px){
    .logo-img {
      display: none;
      
    }
    
    div.main{
   	    margin-left: 70px;
    }
  	
    .logo-icon {
      display: block;
    }
  
    .sidebar {
      width: 72px;
    }
  
    .sidebar button > span {
      width: 50px;
    }
  
    .sidebar button > span > span {
      opacity: 0;
      visibility: hidden;
    }
  }
  
  .sidebar button i {
    position: relative;
    font-size: 28px;
    transition: 0.2s;
  }
  
  .sidebar button img {
    width: 28px;
    height: 28px;
    transition: 0.2s;
    border-radius: 30px;
  }
  
  .sidebar button i > span {
    display: grid;
    place-items: center;
    height: 20px;
    padding: 0 4px;
    border-radius: 10px;
    position: absolute;
    top: -5px;
    right: -10px;
    border: 1px solid #ffffff;
    background: #ff2f40;
    color: #f9f9f9;
    font-size: 12px;
    font-family: BlinkMacSystemFont;
    font-style: normal;
  }
  
  .sidebar button i > em {
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 10px;
    position: absolute;
    top: 2px;
    right: -1px;
    border: 1px solid #ffffff;
    background: #ff2f40;
    color: #f9f9f9;
    font-size: 12px;
    font-family: BlinkMacSystemFont;
    font-style: normal;
  }
  
  
  
  .sidebar button span {
    font-size: 17px;
  }
  
  .sidebar > nav {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .sidebar > nav button:last-child {
    margin-top: auto;
  }
  
  
  /*사이드바 end*/


/*서치박스 스타일 */   
.searchBar > #option > option{
	color: #fff;
} 
.search-box {
      width: 333px;
      position: fixed;
      transition-duration: 1.0s;
      z-index: 2;
      left: -333px;            
      background-color: #000;
      height: 100vh;

      
}
.search-button {
    background-color: #0f0f0f;
    color: #0095f6;
    font-weight: bold;
}

input {
    outline: none;
}

.flex {
    display: flex;
}

.f-between {
    justify-content: space-between;
}

.absolute {
    position: absolute;
}

.hidden {
    display: none;
	visibility: hidden;
}

form select {
   color: black;
}

.search-box-top{
	font-size: 24px;
	margin: 19px;
}
.searchBar{
	background-color: #262626;
 	margin: 19px;
 	border-radius: 10px;
	display: flex;
}

.search-box > div:nth-child(2){
	border-bottom: 1px solid #888;
	height: 62px;
}
   
#searchValue {
	width: 80%;
	height: 40px;
	background-color: rgb(38,38,38);
	outline: none;
	color: white;
	border: 0;
	border-radius: 10px;
}
#option{
   background-color: rgb(38,38,38);
   border: 0;
   height: 40px;
   width: 18%;
   border-radius: 10px;
}

#root > a > div {
	padding: 6px 0px 6px 16px;
    align-items: center;
}
#root > a > div:hover * {
    background-color: #222;
}
textarea::-webkit-scrollbar {
	display: none;
}
.search_nick_name{
	margin-left: 12px;
    display: flex;
    flex-flow: column;
}
.search_nick_name > div:first-child{
	font-size: 14px;
    font-weight: bold;
    height: 18px;
}
.search_nick_name > div:last-child{
	font-size: 14px;
    color: #888;
    height: 18px;
}
#root > a > div:hover {
	background-color: #222;
}
.hashTagDiv{
	display: flex;
}
.hashTagDiv > div{
	margin-left: 17px;
}
.hashTagDiv > div > div:nth-child(1) {
	font-size: 14px;
    font-weight: bold;
}
.hashTagDiv > div > div:nth-child(2) {
	font-weight: 500;
}
.hashTagDiv > div:nth-child(1) {
	display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #aaa;
    border-radius: 80px;
    margin-left: 0;
}
    
  /* 서치박스 스타일 end */
    
  /* 서치탭에 a태그 날리고 이거 넣엇습니다 */
     .search-btn {
      display: block;
      font-size: 16px;
      color: #fff;
      padding: 16px 12px;
      
  }


/* 더 보기 클릭시 메뉴 스타일*/
.more_menu_btn{
	position: relative;
}
.more_menu{
 	opacity: 0;
	transition-duration: 1.2s;
	position: absolute;
	z-index: -1;
    bottom: 50px;
    left: 4px;
	width: 238px;
	margin: 0;
}
.more_menu_wrap{
	width: 238px;
	margin:0;
}
.more_menu_wrap div{
	background-color: #262626;
	margin :0;
}
.more_menu_wrap > div{
	display: flex;
	height: 44px;
 	justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    cursor: pointer;
}
.more_menu_wrap > div:nth-child(1){
	border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.more_menu_wrap > div:nth-child(2) {
	border-bottom-right-radius: 15px;	
	border-bottom-left-radius: 15px;	
}
.more_menu_wrap > div:hover{
	background: #121212
}
.more_menu_wrap > div:hover *{
	background: #121212
}
.sidebar a > span{
	margin :5px;
}
/* 더 보기 클릭시 메뉴 스타일 end*/
  
.left250px {
	left: 250px;
}
.left72px {
	left: 72px;
}

/* searchValue 스타일 */
#searchValue {
	width: 80%;
    height: 40px;
    background-color: rgb(38,38,38);
    outline: none;
    color: white;
    font-weight: bold;
    border: 0;
}
/* searchValue 스타일 end */

/* 유저,해시 셀렉트 스타일 */
#option{
    background-color: rgb(38,38,38);
    border: 0;
    height: 40px;
    width: 18%;
}
select option {
	color: white;
}
/* 유저,해시 셀렉트 스타일 end */

/* 이모티콘 url */
.imt {
	background-image: url(${cpath }/resources/img/인스타임티.png);
	background-repeat: no-repeat;
	background-position: -318px -334px;
	height: 20px;
	width: 20px;
}
.esc {
	position: absolute;
    z-index: 3;
    top: 5.5%;
    right: 4%;
    background-color: rgb(38,38,38);
    cursor: pointer;
}

/*--------------사이드바 포스트 추가 스타일-----------------*/
.post_add_modal_back{
	background-color: #000;
	z-index: 110;
	opacity: 0.5;
	width: 100%;
    height: 100vh;
    position: absolute;
}
.post_add_modal_delete{
	background-color: #000;
	z-index: 111;
	opacity: 0.5;
	width: 100%;
	height: 100vh;
    position: absolute;
}
.post_add_modal_wrap {
	position: fixed;
  	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
   	min-width: 392px;
   	min-height: 370px;
	z-index:112;
	background-color: #262626;
	border-radius: 30px;
	width: 50%;
   	height: 80%;
}
.post_add_modal_wrap *{
	background-color: #262626;
	border-radius: 30px;
	
}
.post_add_modal_wrap > form{
	height: 90%;
}
.post_upload_img {
    height: 105%;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    text-align: center;
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.post_add_modal_title {
	border-bottom: 1px solid #303030;
    height: 42px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-bottom-left-radius: 0; 
    border-bottom-right-radius: 0;
}
.post_add_modal_wrap *{
	margin: 0 0 0 0;
	box-sizing: border-box;
}
.post_add_preview{
    width: 60%;
    height: 94.4%;
    border-radius: 0;
    border-bottom-left-radius: 30px;
    top: 5;
    position: absolute;
}

.post_add_action > div{
	display: flex;
	height: 100%;
}
.post_add_action > div > div:nth-child(1){
	width: 60%;
}

.post_add_action_profile_img{
	width: 28px;
    border-radius: 30px;
}
.post_add_action{
	    height: 100%;
    margin: 0 0 0 0;
}
.post_add_action_right{
	width: 40%;
}
.post_add_action_right > div:nth-child(1){
    display: flex;
    margin: 20px;
}
.post_add_action_right > div:nth-child(2){
	display: flex;
    flex-flow: column;
    width: 100%;
}
.post_add_action_profile_img > img{
	border-radius: 30px;
	width: 28px;
}
.post_add_action_name{
	margin: 0 13px;
}
.post_add_action  textarea {
    margin-left: 18px;
    border: none;
    height: 236px;
    width: 88%;
    resize: none;
    font-size: 16px;
    outline: none;
    border-radius: 0;
}
.post_add_action_location{
	height: 38px;
    width: 88%;
    margin-left: 18px;
    border: none;
    font-size: 16px;
}

.post_add_action_btn > input{
    position: absolute;
    top: 10px;
    right: 20px;
    color: #0095f6;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    border: none;
}
.post_add_finish_modal_content > div {
	display: flex;
    flex-flow: column;
    text-align: center;
    font-size: 20px;
    margin-top: 260px;
}
.post_add_finish_modal_content > div > div:first-child {
	width: 96px;
	margin: auto;
}
.post_add_finish_modal_content > div > div:nth-child(2) {
	font-weight: 400;
}

.post_add_back_btn,.post_add_next_btn{
	height: 0;
}

.post_add_back_btn >button >div > svg{
	position: absolute;
    bottom: 44%;
    width: 30px;
    height: 30px;
    opacity: 0.5;
}
.post_add_next_btn>button  >div > svg{
	position: absolute;
    bottom: 44%;
    width: 30px;
    height: 30px;
    opacity: 0.5;
    right: 40%;
}
.post_add_back_btn >button >div > svg:hover{
	opacity: 1;
}
.post_add_next_btn >button >div > svg:hover{
	opacity: 1;
}
.post_add_img > svg{
	border-radius: 0;
}
.post_add_modal_back > div{
    position: absolute;
    right: 42px;
    top: 20px;
    cursor: pointer;
}
.post_add_modal_delete > div{
    position: absolute;
    right: 42px;
    top: 20px;
    cursor: pointer;
}

.post_add_img_file_input > input{
	position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}
.post_add_img_file_input > label{
    display: inline-block;
    padding: 5px 14px;
    color: #fff;
    vertical-align: middle;
    background-color: #0095f6;
    cursor: pointer;
    height: 34px;
    border-radius: 8px;
    font-weight: 600;
    margin-top: 30px;
}
.post_upload_img > div > div:nth-child(2) {
	font-size: 20px;
} 
.post_upload_img > div > div:nth-child(1) {
	margin-top: 4px;
} 
.post_add_modal_delete_modal_wrap *{
	background-color: #262626;
	text-align: center;
}
.post_add_modal_delete_modal{
	height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.post_add_modal_delete_modal_background{
	height: 100%;
    width: 100%;
    z-index: 200;
    position: absolute;
    background-color: #000;
    opacity: 0.5;
}
.post_add_modal_delete_modal_wrap{
	min-width: 245px;
    min-height: 235px;
    z-index: 202;
    background-color: #262626;
    border-radius: 20px;
    box-sizing: border-box;
    width: 50%;
    max-width: 400px;
} 
.post_add_modal_delete_modal_wrap > div{
	min-width: 245px;
    min-height: 188px;
    border-radius: 30px;
    height: 100%;
	border-radius: 30px;
	height: 100%;
	margin: 0;
	
}
.post_add_moda_delete_btn > div:first-child{
	color: #ed4956;
	font-weight: bold;
}
.post_add_moda_delete_ment > div:first-child{
	font-size: 20px;
	margin-top: 33px;
}
.post_add_moda_delete_ment > div:last-child{
	color: #888;
    font-size: 14px;
    margin: 20px;
}
.post_add_moda_delete_btn div{
	cursor: pointer;
    height: 48px;
    line-height: 17px;
    border-top: 1px solid #888;
    line-height: 3;
    margin: 0;
}
.post_add_moda_delete_btn > div:nth-child(2) {
	border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}
.post_add_moda_delete_btn{
	margin-top: 35px;
    border-radius: 30px;	
}
.post_add_modal_delete_modal_background >div{
	position: absolute;
    right: 42px;
    top: 31px;
    cursor: pointer;
} 

.foot{
	text-align: center;	
	padding-bottom: 50px;
}
/*--------------사이드바 포스트 추가 스타일 end-----------------*/