/* 댓글박스 */
textarea {
    background-color: #262626;
    color: #fff;
}
html{
	overflow-y: hidden;
}
{
    background-color: #0f0f0f;
}
div {
    background-color: #000;
    min-height: auto;
    min-width: auto;
    display: block;   
}


/* div클래스 명이 flex이면 display flex속성 적용 */
/* 클래스명은 여러가지가 되기때문에 일일히 style적용하기 번거로워서 */
div.flex {display: flex;}

/* 위와 같음 */
.i-col-0>* {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    width: auto;
}


/* 메뉴에 마우스호버 했을 때 */
li:hover{
    background-color: rgb(18,18,18);    
    border-radius: 24px;
}

/* img 기본틀 */
div.img-box .img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

/* 전체 화면 */
div.screen {
    display: flex;
    height: 100vh;
	overflow-y:scroll;
    flex-flow: column;
}
/*푸터*/
.footer{
	margin-left: 300px;
    text-align: center;
    width: 600px;
}

  /*사이드 메뉴 로고박스  */
div.menu-top {
    padding: 25px 12px 35px;
}


.left-gnb-ul li a {
    display: block;
    font-size: 16px;
    color: #fff;
    padding: 16px 12px;
}

.left-gnb-ul li a span.icon {
    display: inline-block;
    vertical-align: middle;
}

.left-gnb-ul li a span:last-child {
    padding-left: 16px;
    vertical-align: middle;
    display: inline-block;
}

.left-bottom {
    padding: 16px 12px;
    font-size: 16px;
    color: #fff;
    position: absolute;
    left: 12px;
    bottom: 20px;
    width: 93%;
}

/* 메뉴 밑에 더보기를 메뉴들과 열을 맞추기 위함 */
.left-bottom span:last-child {
    padding-left: 16px;
}

/*회원님을 위한 추천 프로필 ui*/
#recommend-friend img{
	width: 32px;
	height: 32px;
    border-radius: 30px;
}
#recommend-friend > div a{
	font-size: 14px;
    font-weight: 500;
}
#recommend-friend > div > div:nth-child(2){
	margin-left: 17px;
	margin-right: 15px;
    font-size: 12px;
    color: #a8a8a8 !important;
    width: 67%;
	
}

.followBtn {
	align-self: center;
	font-size: 14px;
	color: #0095F6;
}
.followBtn:hover {
	font-weight: bold;
	color: white;
	cursor: pointer;
}

div.home_main {
    width: 100vh;
    height: 500px;
    display: flex;            
	height: 100vh;
    /* 나중에 수정 */
    background-color: #000;
    
}
div.main{
    display: block;
    min-height: auto;
    min-width: auto;
    
    /* max-width: 853px; */
    
}

div.home-feed {
    display: flex;
    width: 80%;
}

/* 스토리, 게시글 */
div.home-feed-left {
    display: block;
    min-width: 470px;
    margin-right: 64px;
}

div.home-feed-right {
    display: block;
    position: sticky;
    /* width: 319px; */
}

div.story {
    display: flex;
}

div.insta-main-top {
    padding: 32px 0 16px;
    overflow: hidden;
    position: relative;
    width: 2000px;
}
div.insta-main-top-ul {
    display: flex;
}

div.insta-post-item {
    border-bottom: 1px solid rgb(38, 38, 38);
    padding-bottom: 20px;
    margin-bottom: 12px;
}
div.insta-post-item-top {
    display: flex;
    position: relative;
    padding: 12px 0;
}

div.insta-post-item-top .img-box {
    position: relative;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
}
div.insta-post-item-top .img-box img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}

div.insta-post-item-top .id-box {
    font-size: 14px;
    color: #a8a8a8;
    padding-left: 10px;
}

div.insta-post-item-top .id-box .id {
    color: #fff;
}

div.insta-post-item-top .id-box .day {
    color: #a8a8a8;
}

div.insta-post-item-top .option-box {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

/* 게시글 사진 */
div.insta-post-item-middle .img-box {
	display: flex;
    position: relative;
    width: 470px;
	height: 460px;
    padding-bottom: 74.7%;
    overflow: hidden;
    border-radius: 4px;
}
div.insta-post-item-middle .img-box .images-box {
	position: absolute;
	display: flex;		
	height: 460px;
	left: 0px;	
	transition-duration: 0.5s;
}

div.insta-post-item-middle .img-box .images-box .image-box {
	position: relative;
	top: 0;
	width: 470px;
	height: 460px;
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	background-size: auto 100%;
	background-position: center center;
	background-repeat: no-repeat;
}

/* 이미지를 가운데에 배치하는 작업 */
div.insta-post-item-middle .img-box .images-box .image-box img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-49.9%, -50%);
    width: 470px;
    height: 460px;
}

/* 좋아요, 댓글, DM버튼 ...  */
div.insta-post-item-btn-box {
   
    
    padding: 15px 0 5px;
    
}

div.insta-post-item-btn-ul {
    
    margin: -8px;
    position: relative;
    
}

div.insta-post-item-btn-ul li {
    padding: 8px;
}


/* 북마크(저장) */
div.insta-post-item-btn-ul li.bookmark {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

div.insta-post-item-comment {}

/* 좋아요 */
div.insta-post-item-comment .good {
    font-weight: 600;
    font-size: 14px;
    color: #fff;
}

/* 홈피드 top에 패딩 주어서 위치설정 */
div.home-feed {padding-top: 40px;}

/* 오른쪽 포스트 */

div.home-feed-right {min-width: 347px;}


/* 피드 오른쪽 top 마이프로필 */
div.home-feed-right-myprofile {
    display: flex;
    justify-content: space-between;
}
div.home-feed-right-myprofile .img-box {

    width: 56px;
    height: 56px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    display: inline-block;
}

div.home-feed-right-myprofile .img-box img {
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 56px;
	height: 56px;
}
div.home-feed-right-myprofile > div {
    display: flex;
    
}
div.home-feed-right-myprofile .id-box{
	margin: 7px 0 0 18px;
}
div.home-feed-right-myprofile .id-box div{
	    font-weight: 500;
}
.recommend_ment{
	font-size: 12px;
    color: #a8a8a8
}

/* 추천회원 프로필 img */
div.flex > .img-box {
    width: 66px;
    height: 66px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #1cd14f;
    position: relative;
    
}
div.flex > .img-box > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

div.account-change {

}

div.hidden {display: none;}

div.left-bottom-menu {
    display: none;
    flex-direction:column;
    justify-content: space-around;
    width: 100%;
    position: absolute;
    bottom: 63px;
    border: 1px dashed;
    height: 400px;
    font-size: 16px;
    z-index: 1;
}
div.left-bottom.i-col-0:hover div.left-bottom-menu {
    display: flex;
}

div.left-bottom-menu >div > * {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    
}

div.mypage {
    max-width: 935px;
    width: 935px;
}

div.insta-post-item-middle > * {
    width: 300px;
    height: 300px;
    
}
.recommend > div{
	margin: 20px 0px;
} 

#recommend-friend > div{
	height: 48px;
}

div.insta-post-item textarea {
	margin-top: 10px;
    width: 100%;
    background-color: #000;
    border: none;
    resize: none;
	
}
li.insta-post-item-like-li {
	margin-right: 10px;
	cursor: pointer;
}
.insta-post-item-reply:hover {	
	cursor: pointer;
}
p.insta-post-item-reply {
	color: #A8A8A8;
	font-size: 14px;
}

.id-box span {
	color: #A8A8A8;
	font-size: 15px;
}


@media (width < 1200px) {
	div.home-feed-right {
	  display: none;
	}	  
}
 
.modal {
	display: none;
}
.modal_content {		
	position: absolute;	
	justify-content: center;
	align-items: center;		
	top: 50%;
	left: 50%;			
	width: 1200px;
	height: 900px;	
	display: none;
	background-color: #000;	
	text-align: center;	
	box-shadow: 0 2px 3px 0 black;	
	transform: translateX(-50%) translateY(-50%);
	z-index: 5;
}
.image_content {
	display: flex;		
	align-items: center;
	position: relative;
	
	width: 700px;
	height: 700px;
	
	overflow: hidden;	
}
.post_content {	
	width: 400px;
	height: 750px;
	text-align: center;
	background-color: inherit;
	border-left: 1px solid rgb(54,54,54); 
}
.post_content > div {
	background-color: inherit;
}
.post_content pre {
	white-space: pre-wrap;
}
.left,
.left_btn {
	position: absolute;
	top: 50%;
	left: 0px;		
	
	display: none;
	text-align: center;
	
	border-radius: 10px;
	z-index: 5;
}
.right,
.right_btn {
	position: absolute;
	top: 50%;
	right: 0px;		
			
	text-align: center;
	
	border-radius: 10px;
	z-index: 5;
}

.item:hover {
	cursor: pointer;
}
.images {
	position: absolute;
	display: flex;		
	height: 500px;
	left: 0px;	
	transition-duration: 0.5s;		
}
.image {
	position: relative;
	top: 0;
	width: 700px;
	height: 500px;
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	background-size: auto 100%;
	background-position: center center;
	background-repeat: no-repeat;			
}
.image > img {
	width: 700px;
	height: 700px;
}
#modal_overlay {		
	position: absolute;		
	top: 0;
	left: 0;
	
	width: 100%;
	height: 100vh;
	
	display: none;
	
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 4;
}
.hidden {
	display: none;
}
.next {	
	background-color: unset;
    background-repeat: no-repeat;
    background-position: -162px -98px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}
.prev {
	background-color: unset;
	background-repeat: no-repeat;
    background-position: -130px -98px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}
.close {
	display: none;
	position: absolute;
	right: 50px;
	top: 30px;
	cursor: pointer;
	z-index: 5;
}
.post-comment {
	white-space: pre-wrap;
}
.post-comment a {
	color: rgb(224,241,255);
}
.userSearch:hover {
	cursor: pointer;
}
.dot {
	color: rgb(168,168,168);
	margin: 0px 5px;
}
.post_content .pro_info {
	display: flex;
	border-bottom: 1px solid rgb(54,54,54);
	padding: 15px;
}
.post_content .pro_info a {
	color: white;
}
.pro_box .pro_nic {
	font-weight: bold;
	text-align: left;
}
.pro_box .pro_loc {
 	font-size: 12px;
}
.post_content .pro_img,
.post_items .post_pro_img,
.comment_box .comment_img {
	width: 32px;
	height: 32px;
	margin-right: 10px;
}
.post_content .pro_img img,
.post_items .post_pro_img img,
.comment_box .comment_img img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.post_items {	
	padding: 15px;
	height: 500px;
	border-bottom: 1px solid rgb(54,54,54);
	overflow-y: scroll; 
}
.post_items::-webkit-scrollbar {
	display: none;
}
.post_items .post_pro_box {
	display: flex;
  	justify-content: space-between;
}
.post_item {
 	width: 322px;
}
.post_item .post_pro_nic {
	text-align: left;
	font-weight: bold;	
}
.post_item .post_pro_nic a {
	color: white;
}
.post_item .post_data_content {
	text-align: left;
	font-size: 14px;
}
.post_item .post_data_content a {
	color: rgb(224,241,255);
}
.post_item .post_add_date {
	text-align: left;
	font-size: 12px;
	color: #8E8E8E;
	margin-top: 3px;
}
.comment_box {
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
}
.comment_item {
	width: 322px;
}
.comment_item .comment_item_top {
	display: flex;
	justify-content: space-between;	
}
.comment_item .comment_item_top .comment_nic {
	font-weight: bold;
}
.comment_item .comment_item_top .comment_nic a {	
	color: white;
}
.comment_item .comment_item_top .comment_like {
	cursor: pointer;
}
.comment_item .comment_content {
	text-align: left;
	font-size: 14px;
}
.comment_item .comment_content a {
	color: rgb(224,241,255);
}
.comment_item .comment_item_bottom {
	display: flex;
	margin-top: 3px;
}
.comment_item .comment_item_bottom div {
	margin-right: 10px;
	font-size: 12px;
	color: #8E8E8E;
}
.comment_item .comment_item_bottom .recomment {
	cursor: pointer;
}
.comment_item .comment_item_bottom .remove {
	cursor: pointer;
}
.comment_item .comment_count {
	text-align: left;
	color: #8E8E8E;
	font-size: 12px;
	cursor: pointer;
	margin-top: 10px;
	font-weight: 600;
}
.bottom_item {
	padding: 15px;
	border-bottom: 1px solid rgb(54,54,54);
}
.bottom_item .bottom_item_top {
	display: flex;	
}
.bottom_item .bottom_item_top div {
	margin-right: 10px;
	cursor: pointer;
}
.bottom_item .bottom_like_count {
	text-align: left;
	font-size: 14px;
	margin-top: 8px;
}
.bottom_item .bottom_date {
	text-align: left;
	font-size: 12px;
	color: #8E8E8E;
	margin-top: 3px;
}
.bottom_input {
	display: flex;	
	padding: 10px;
	height: 70px;
}
.bottom_input textarea {
	border: none;
	background-color: #000;
	resize: none;
	width: 85%;
	padding: 13px 0px;
}
.bottom_input textarea:focus {
	outline: none;
}
.bottom_input .bottom_send {
	color: #AAC9FF;
	width: 15%;
	cursor: pointer;
	font-weight: bold;
	align-self: center;
}